/* header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  padding: 24px 32px;
}
.ul-nav {
  display: flex;
}
.nav-item {
  margin-right: 24px;
}
.action1 {
  width: 100px;
  height: 48px;
  border-radius: 32px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger-bar {
  display: none;
}

/*section 1 */
.container {
  max-width: 1110px;
  width: 90%;
  height: 555px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 68px 130px;
}
.left-div {
  width: 490px;
}
.h2-section1 {
  font-size: 56px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: -1px;
  margin-bottom: 24px;
}
.p-section1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 40px;
}
.action2 {
  width: 100px;
  height: 48px;
  background-color: #000;
  color: #fff;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-text {
  width: 236px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.box {
  display: flex;
  align-items: center;
  gap: 16px 20px;
}
.right-div {
  width: 490px;
}
.picture {
  width: 100%;
}

/* section 2 */
.container2 {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  column-gap: 30px;
}
.box2 {
  width: 360px;
}
.section2 {
  background-color: #f3f3f3;
  padding: 64px 0;
}
.texts {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 16px;
}
.round {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #000;
}
.h3-section2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.p-section2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

/* section 3 */
.section3 {
  background-color: #000;
}
.container3 {
  max-width: 1140px;
  width: 90%;
  height: 620px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.left-div3 {
  width: 504px;
}
.picture3 {
  width: 100%;
  border-radius: 12px;
}
.right-div3 {
  width: 504px;
  margin-left: 133px;
}
.h3-section3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: -0.1px;
  margin-bottom: 16px;
  color:#FFFFFF;
}
.p-section3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin-bottom: 82px;
  color: #FFFFFF;
}

/* section 4 */
.image {
  background-image: url("../images/desktop.jpg");
  width: 100%;
  height: 564px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}
.text3 {
  max-width: 540px;
  width: 90%;
  height: 180px;
  text-align: center;
}
.h5-section4 {  
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
  color:#FFFFFF;
}
.h3-section4 {
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: -0.5px;
  color:#FFFFFF;
  padding-top: 10px;
}
.box4{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.action3 {
  width: 84px;
  height: 40px;
  background-color: #F3F3F3;
  color: #000;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */
.footer {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}
.footer-container {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items:start;
}
.footer-column {
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
  gap: 130px;
}
.footer-info  {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 8px;
}
.h4-footer {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-bottom: 16px;
}
.span-footer{
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #FFFFFF;
}
.footer-info.margin {
  margin-left: 110px;
}











/* responsive styles */
@media (max-width: 1024px) {
  /* section 1 responsive */
  .container {
    flex-direction: column;
    height: auto;
  }
  .left-div {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .right-div {
    width: 100%;
  }
  .action-text {
    width: 100%;
  }
  /* section 4 responsive */
  .image {
    background-image: url("../images/CTAImg-Tablet-1024px.jpg");
    height: 588px;
  }
  /* section 3 responsive */
  .container3 {
    flex-direction: column;
    row-gap: 64px;
  }
  .right-div3 {
    width: 100%;
    margin: 0 auto;
  }
  .left-div3 {
    width: 100%;
  }
  .picture3 {
    width: 100%;
    padding: 32px 32px 0px 32px;
    height: 550px;
  }
  .section3 {
    height: 895px;
  }
  /* footer responsive */
  .footer-container {
    padding: 45px 32px;
  }
  .footer-column {
    max-width: 960px;
  }
  .footer-info:last-child{
  display:none;
}
}

@media (max-width: 744px) {
  /* section 1 responsive */
  .box {
    flex-direction: column;
  }
  .right-div {
    width: 100%;
  }
  /* section 2 responsive */
  .container2 {
    flex-direction: column;
    row-gap: 20px;
  }
  .box2 {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* section 3 responsive */
  .container3 {
    row-gap: 29px;
  }
  /* section 4 responsive */
  .image {
    background-image: url("../images/tablet-small.jpg");
    height: 500px;
  }
  /* header responsive */
  .navigation {
    display: none;
  }
  .action1 {
    display: none;
  }
  .burger-bar {
    display: block;
    width: 25px;
    height: 25px;
    background: #000;
    border-radius: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-column {
    gap: 50px;
    max-width: 500px;
  }
  .footer-info.margin {
    margin-left: 50px;
  }
}

@media (max-width: 375px) {
  /* section 4 responsive */
  .image {
    background-image: url("../images/CTAImg-Mobile-375px.jpg");
    height: 500px;
  }
  /* section 3 responsive */
  .container3 {
    row-gap: 14px;
  }
  .left-div3 {
    width: 100%;
    max-width: 327px;
  }
  .picture3 {
    height: 195px;
    padding: 0;
    margin: 0 auto;
    margin-top: 24px;
  }
  .section3 {
    height: 523px;
  }
  /* footer responsive */
  .footer {
    padding-top: 50px;
  }
  .brand {
    align-self:center;
    margin-bottom: 25px;
  }
  .footer-container {
    flex-direction: column;
    margin: 0 auto;
    max-width: 375px;
    padding: 50px 30px 20px;
  }
  .footer-info {
    text-align: center;
  }
  /* section 1 responsive */
  .h2-section1 {
    font-size: 40px;
    line-height: 49px;
  }
  .p-section1 {
    margin-bottom: 24px;
  }
  .container {
    row-gap: 24px;
  }
}
